@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: #fceeee;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* Header */

.header nav ul {
  list-style: none;
}

.menu {
  padding: 50px 0;
}

.header .menu-list {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header .menu-list a {
  color: #2e2e2e;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 0;
  position: relative;
}

.header .menu-list a::before {
  content: '';
  display: block;
  width: 0%;
  background-color: #2e2e2e;
  height: 2.5px;
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  left: 0px;
  transition: all 0.2s;
}

.header .menu-list a:hover::before {
  width: 100%;
}

/* Main/Conteudo */

.main {
  max-width: 1080px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-areas:
    'titulo img'
    'corpo corpo'
    'carrossel carrossel'
    'doutrina doutrina'
    'footer footer';
}

#title {
  grid-area: titulo;
  font-size: 44px;
  text-align: end;
  align-self: center;
  padding: 10px;
}

#img-div {
  grid-area: img;
  padding: 10px;
  margin-bottom: 40px;
}

.main-image {
  position: relative;
}
.main-image .image {
  background-image: url('./img/Therese_von_Lisieux.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  width: 100%;
  height: 250px;

  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#img-caption {
  letter-spacing: 1px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border-radius: 4px;
}

#tribute-info {
  grid-area: corpo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 960px;
  margin: 0 auto;
  margin-bottom: 40px;
}

#tribute-info h2 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
  grid-column: 1/-1;
}

#tribute-info p {
  text-indent: 40px;
  text-align: justify;
  padding: 10px;
}

#tribute-info p:nth-child(2) {
  order: 3;
}

#tribute-info p:nth-child(3) {
  order: 5;
}

#tribute-info p:nth-child(4) {
  order: 7;
}

#tribute-info p:nth-child(5) {
  order: 4;
}

#tribute-info p:nth-child(6) {
  order: 6;
}

#tribute-info p:nth-child(7) {
  order: 8;
}

/* footer */
#footer {
  color: white;
  background-color: #2e2e2e;
  padding: 40px;
}
blockquote {
  font-size: 18px;
  font-style: italic;
  text-align: center;
}
