@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;0,700;1,200&display=swap');

:root {
  --color-1: #f5f7cf;
  --color-2: #ddcf94;
  --color-3: #ba872b;
  --color-4: #a13d24;
  --color-5: #213131;
  --color-6: #614024;
  --color-7: #1b1208;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}

html {
  background-color: var(--color-1);
  color: var(--color-7);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Header */

.header nav ul {
  list-style: none;
}

.menu {
  padding: 50px 0;
}

.header .menu-list {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.header .menu-list a {
  color: #2e2e2e;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 16px 0;
  position: relative;
}

.header .menu-list a::before {
  content: '';
  display: block;
  width: 0%;
  background-color: #2e2e2e;
  height: 2.5px;
  border-radius: 2px;
  position: absolute;
  bottom: 10px;
  left: 0px;
  transition: all 0.2s;
}

.header .menu-list a:hover::before {
  width: 100%;
}

/* Main/Conteudo */

.main {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;

  display: grid;
  grid-template-areas:
    'titulo img'
    'corpo corpo'
    'carrossel carrossel'
    'doutrina doutrina'
    'gallery gallery'
    'ref ref'
    'footer footer';
}

#title {
  grid-area: titulo;
  font-size: 44px;
  text-align: end;
  align-self: center;
  padding: 10px;
}

#img-div {
  grid-area: img;
  padding: 10px;
  margin-bottom: 40px;
}

.main-image {
  position: relative;
}
.main-image .image {
  background-image: url('./img/9.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: -100px;
  width: 500px;
  height: 250px;

  border-radius: 4px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#img-caption {
  letter-spacing: 1px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  padding: 5px;
  font-size: 18px;
  color: #fff;
  border-radius: 4px;
}

#tribute-info {
  grid-area: corpo;
  display: grid;
  padding: 20px 0;
  margin: auto;
  margin-bottom: 40px;
}

#tribute-info h2 {
  text-align: center;
  grid-column: 1/-1;
}

#tribute-info p {
  text-indent: 40px;
  font-size: 18px;
  text-align: justify;
  padding: 10px;
  line-height: 1.5;
}

/* Linha Cronológica */
.crono {
  grid-area: carrossel;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 960px;
}

.crono h2 {
  text-align: center;
  position: relative;
}

.crono ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  list-style: none;
  position: relative;
}

.crono ul:after {
  content: '';
  width: 2px;
  height: calc(100% - 80px - 70px);
  background-color: #2e2e2e;
  border-radius: 5px;
  position: absolute;
  top: 75px;
  left: 50%;
  transform: translate(-50%);
}

.crono-card {
  border-radius: 5px;
  width: 350px;
  height: 150px;
  box-shadow: 0px 2px 2px 0px;
}

.crono-card span {
  text-align: center;
  background-color: #2e2e2e;
  display: block;
  color: #fff;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;

  letter-spacing: 5px;
  font-weight: 600;
}

.crono-card p {
  padding: 5px;
  text-align: center;
}

.crono-card:hover {
  outline: 5px solid red;
  transition: all 0.5s;
}

.crono-card:nth-child(1)::before,
.crono-card:nth-child(4)::before,
.crono-card:nth-child(7)::before,
.crono-card:nth-child(10)::before,
.crono-card:nth-child(13)::before,
.crono-card:nth-child(16)::before,
.crono-card:nth-child(19)::before,
.crono-card:nth-child(22)::before,
.crono-card:nth-child(25)::before,
.crono-card:nth-child(28)::before,
.crono-card:nth-child(31)::before,
.crono-card:nth-child(34)::before,
.crono-card:nth-child(37)::before {
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #2e2e2e;
  left: 50%;
  transform: translate(-50%, -50%);
}

.crono-card:nth-child(1)::after,
.crono-card:nth-child(7)::after,
.crono-card:nth-child(13)::after,
.crono-card:nth-child(19)::after,
.crono-card:nth-child(25)::after,
.crono-card:nth-child(31)::after,
.crono-card:nth-child(37)::after {
  right: 50%;
}

.crono-card:nth-child(4)::after,
.crono-card:nth-child(10)::after,
.crono-card:nth-child(16)::after,
.crono-card:nth-child(22)::after,
.crono-card:nth-child(28)::after,
.crono-card:nth-child(34)::after {
  left: 50%;
}

.crono-card:nth-child(1)::after,
.crono-card:nth-child(4)::after,
.crono-card:nth-child(7)::after,
.crono-card:nth-child(10)::after,
.crono-card:nth-child(13)::after,
.crono-card:nth-child(16)::after,
.crono-card:nth-child(19)::after,
.crono-card:nth-child(22)::after,
.crono-card:nth-child(25)::after,
.crono-card:nth-child(28)::after,
.crono-card:nth-child(31)::after,
.crono-card:nth-child(34)::after,
.crono-card:nth-child(37)::after {
  content: '';
  height: 3px;
  animation: move-reverse 0.6s ease forwards;
  background-color: #2e2e2e;
  position: absolute;
  border-radius: 5px;
  z-index: -1;
}

.crono-card:nth-child(1):hover::after,
.crono-card:nth-child(4):hover::after,
.crono-card:nth-child(7):hover::after,
.crono-card:nth-child(10):hover::after,
.crono-card:nth-child(13):hover::after,
.crono-card:nth-child(16):hover::after,
.crono-card:nth-child(19):hover::after,
.crono-card:nth-child(22):hover::after,
.crono-card:nth-child(25):hover::after,
.crono-card:nth-child(28):hover::after,
.crono-card:nth-child(31):hover::after,
.crono-card:nth-child(34):hover::after,
.crono-card:nth-child(37):hover::after {
  content: '';
  height: 3px;
  animation: move 0.6s ease forwards;
  background-color: #2e2e2e;
  position: absolute;
  border-radius: 5px;
  z-index: -1;
}

.crono-card:nth-child(1):hover::after,
.crono-card:nth-child(7):hover::after,
.crono-card:nth-child(13):hover::after,
.crono-card:nth-child(19):hover::after,
.crono-card:nth-child(25):hover::after,
.crono-card:nth-child(31):hover::after,
.crono-card:nth-child(37):hover::after {
  right: 50%;
}

.crono-card:nth-child(4):hover::after,
.crono-card:nth-child(10):hover::after,
.crono-card:nth-child(16):hover::after,
.crono-card:nth-child(22):hover::after,
.crono-card:nth-child(28):hover::after,
.crono-card:nth-child(34):hover::after {
  left: 50%;
}
.crono-card:nth-child(1):hover::after,
.crono-card:nth-child(1)::after,
.crono-card:nth-child(1)::before {
  top: 75px;
}
.crono-card:nth-child(4):hover::after,
.crono-card:nth-child(4)::after,
.crono-card:nth-child(4)::before {
  top: calc(75px + 150px);
}
.crono-card:nth-child(7):hover::after,
.crono-card:nth-child(7)::after,
.crono-card:nth-child(7)::before {
  top: calc(75px + 300px);
}
.crono-card:nth-child(10):hover::after,
.crono-card:nth-child(10)::after,
.crono-card:nth-child(10)::before {
  top: calc(75px + 450px);
}
.crono-card:nth-child(13):hover::after,
.crono-card:nth-child(13)::after,
.crono-card:nth-child(13)::before {
  top: calc(75px + 600px);
}
.crono-card:nth-child(16):hover::after,
.crono-card:nth-child(16)::after,
.crono-card:nth-child(16)::before {
  top: calc(75px + 750px);
}
.crono-card:nth-child(19):hover::after,
.crono-card:nth-child(19)::after,
.crono-card:nth-child(19)::before {
  top: calc(75px + 900px);
}
.crono-card:nth-child(22):hover::after,
.crono-card:nth-child(22)::after,
.crono-card:nth-child(22)::before {
  top: calc(75px + 1050px);
}
.crono-card:nth-child(25):hover::after,
.crono-card:nth-child(25)::after,
.crono-card:nth-child(25)::before {
  top: calc(75px + 1200px);
}
.crono-card:nth-child(28):hover::after,
.crono-card:nth-child(28)::after,
.crono-card:nth-child(28)::before {
  top: calc(75px + 1350px);
}
.crono-card:nth-child(31):hover::after,
.crono-card:nth-child(31)::after,
.crono-card:nth-child(31)::before {
  top: calc(75px + 1500px);
}
.crono-card:nth-child(34):hover::after,
.crono-card:nth-child(34)::after,
.crono-card:nth-child(34)::before {
  top: calc(75px + 1650px);
}
.crono-card:nth-child(37):hover::after,
.crono-card:nth-child(37)::after,
.crono-card:nth-child(37)::before {
  top: calc(75px + 1800px);
}

@keyframes move {
  0% {
    width: 0;
  }
  100% {
    width: 65px;
  }
}

@keyframes move-reverse {
  0% {
    width: 65px;
  }
  100% {
    width: 0;
  }
}

/* Doutrina */
#doutrina {
  grid-area: doutrina;
  padding: 20px 0;
  margin-bottom: 20px;
}

#doutrina p {
  text-indent: 40px;
  text-align: justify;
  font-size: 18px;
  line-height: 1.5;
}

/* Gallery */
.gallery {
  grid-area: gallery;
  display: flex;
  flex-direction: column;
  max-width: 960px;
  margin-bottom: 40px;
}

.gallery-container {
  display: flex;
  flex-wrap: wrap;
}

.img-1,
.img-2,
.img-3,
.img-4,
.img-5,
.img-6,
.img-7,
.img-8,
.img-9 {
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 320px;
}

.img-1 {
  background-image: url(./img/1.jpg);
}

.img-2 {
  background-image: url(./img/2.jpeg);
}
.img-3 {
  background-image: url(./img/3.jpg);
  background-position-x: center;
}
.img-4 {
  background-image: url(./img/4.jpg);
  background-position-x: center;
}
.img-5 {
  background-image: url(./img/7.jpg);
}
.img-6 {
  background-image: url(./img/6.jpg);
  background-position-x: center;
}
.img-7 {
  background-image: url(./img/5.jpg);
}
.img-8 {
  background-image: url(./img/8.jpeg);
}
.img-9 {
  background-image: url(./img/9.jpg);
}

/* Referencia */
#referencia {
  grid-area: ref;
  margin-bottom: 40px;
}

#referencia p {
  text-indent: 40px;
  font-size: 18px;
  line-height: 1.5;
}

/* footer */
#footer {
  grid-area: footer;
  height: 40vh;
  color: var(--color-1);
  background-color: var(--color-7);
  padding: 20px 40px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

blockquote {
  font-size: 24px;
  font-style: italic;
  text-align: center;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto;
}

blockquote:before,
blockquote::after {
  font-family: none;
  font-size: 50px;
  position: relative;
}

blockquote::before {
  content: '“';
}
blockquote::after {
  top: 10px;
  content: '”';
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.social-media img {
  width: 44px;
  height: 44px;
}
